body {
    padding: 50px;
    background-color: skyblue;
    font-family: sans-serif;
}

#app {
    display: flex;
    justify-content: center;
}

.toDoList {
    margin-top: 20px;
    background-color: white;
}

.toDoList .toDoItem {
    background-color: red;
    padding: 10px;
    margin: 10px;
}